<div class="container-md">
    <ul class="no-bullets">
        {{#each posts as | post | }}

        <li class="mt-2">
            <a class="list-item" href="/{{id}}">
            <div class="card">
                <div class="card-body">
                    {{title}}
                    <div class="">
                        <div class="">{{post.User.firstname}}
                            {{post.User.lastname}}
                        </div>

                        <div class="">{{created}}</div>
                    </div>
                </div>
            </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>