<div class="container-md">
    <div class="card mt-2">
        <div class="card-body">
            <h3>{{post.title}}</h3>
            <div class="">
                <div class="">{{post.User.firstname}}
                    {{post.User.lastname}}
                </div>

                <div class="">{{created}}</div>
            </div>
            <div class="post-body">
                {{post.content}}
            </div>
            <button class="comment-btn">
                Comment
        </div>
    </div>
</div>

<form action="" class="comment-form" id="comment-form">
    <textarea name="comment-input" id="comment-input" cols="30" rows="10">

                </textarea>
    <button class="submit-btn">
        Submit
    </button>
</form>

<ul class="post-list no-bullets">
    {{#each post.Comments as |comment| }}
    {{>comments}}
    {{/each}}

</ul>
</div>